ChordsInterface/ServiceTests/Connected Services/ServiceReference/ChordsInterface.Chords.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ChordsInterface.Chords" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ChordsInterface.Chords" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Measurement">
    <xs:sequence>
      <xs:element minOccurs="0" name="InstrumentID" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="TimeStamp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Measurement" nillable="true" type="tns:Measurement" />
</xs:schema>