ChordsInterface/ServiceTests/Connected Services/ServiceReference/ChordsInterface.Data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ChordsInterface.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ChordsInterface.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DataStreamList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ArrayOfDataStream" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataStreamList" nillable="true" type="tns:DataStreamList" />
  <xs:complexType name="ArrayOfDataStream">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataStream" nillable="true" type="tns:DataStream" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataStream" nillable="true" type="tns:ArrayOfDataStream" />
  <xs:complexType name="DataStream">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:Category" />
      <xs:element minOccurs="0" name="DataType" nillable="true" type="tns:DataType" />
      <xs:element minOccurs="0" name="Deployment" nillable="true" type="tns:Deployment" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MeasurementInterval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Property" nillable="true" type="tns:Property" />
      <xs:element minOccurs="0" name="Site" nillable="true" type="tns:Site" />
      <xs:element minOccurs="0" name="System" nillable="true" type="tns:NrdcSystem" />
      <xs:element minOccurs="0" name="Units" nillable="true" type="tns:Unit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataStream" nillable="true" type="tns:DataStream" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="DataType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataType" nillable="true" type="tns:DataType" />
  <xs:complexType name="Deployment">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Deployment" nillable="true" type="tns:Deployment" />
  <xs:complexType name="Property">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Property" nillable="true" type="tns:Property" />
  <xs:complexType name="Site">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Elevation" type="xs:double" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Site" nillable="true" type="tns:Site" />
  <xs:complexType name="NrdcSystem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NrdcSystem" nillable="true" type="tns:NrdcSystem" />
  <xs:complexType name="Unit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abbreviation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Unit" nillable="true" type="tns:Unit" />
</xs:schema>