ChordsInterface/ServiceTests/Connected Services/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ChordsInterface.Chords" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetMeasurements_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMeasurements" />
  </wsdl:message>
  <wsdl:message name="IService_GetMeasurements_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMeasurementsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateMeasurement_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMeasurement" />
  </wsdl:message>
  <wsdl:message name="IService_CreateMeasurement_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMeasurementResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetMeasurements">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMeasurements" message="tns:IService_GetMeasurements_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMeasurementsResponse" message="tns:IService_GetMeasurements_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateMeasurement">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateMeasurement" message="tns:IService_CreateMeasurement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateMeasurementResponse" message="tns:IService_CreateMeasurement_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMeasurements">
      <soap:operation soapAction="http://tempuri.org/IService/GetMeasurements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMeasurement">
      <soap:operation soapAction="http://tempuri.org/IService/CreateMeasurement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Chords/Service/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>