NrdcWebClient/App_WebReferences/ChordsService/ChordsInterface.Infrastructure.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ChordsInterface.Infrastructure" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ChordsInterface.Infrastructure" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NetworkList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ArrayOfNetwork" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NetworkList" nillable="true" type="tns:NetworkList" />
  <xs:complexType name="ArrayOfNetwork">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Network" nillable="true" type="tns:Network" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNetwork" nillable="true" type="tns:ArrayOfNetwork" />
  <xs:complexType name="Network">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageRetrievalUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfrastructureUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WebCamInteractionUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Network" nillable="true" type="tns:Network" />
</xs:schema>