NrdcWebClient/App_WebReferences/ChordsService/ChordsInterface.Chords.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ChordsInterface.Chords" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ChordsInterface.Chords" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SiteList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ChordsType">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ArrayOfSite" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SiteList" nillable="true" type="tns:SiteList" />
  <xs:complexType name="ChordsType">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ChordsType" nillable="true" type="tns:ChordsType" />
  <xs:complexType name="ArrayOfSite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Site" nillable="true" type="tns:Site" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSite" nillable="true" type="tns:ArrayOfSite" />
  <xs:complexType name="Site">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ChordsType">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Elevation" type="xs:double" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Latitude" type="xs:double" />
          <xs:element minOccurs="0" name="Longitude" type="xs:double" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Site" nillable="true" type="tns:Site" />
  <xs:complexType name="SystemList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ChordsType">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ArrayOfNrdcSystem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SystemList" nillable="true" type="tns:SystemList" />
  <xs:complexType name="ArrayOfNrdcSystem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NrdcSystem" nillable="true" type="tns:NrdcSystem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNrdcSystem" nillable="true" type="tns:ArrayOfNrdcSystem" />
  <xs:complexType name="NrdcSystem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ChordsType">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NrdcSystem" nillable="true" type="tns:NrdcSystem" />
  <xs:complexType name="InstrumentList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ChordsType">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ArrayOfInstrument" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InstrumentList" nillable="true" type="tns:InstrumentList" />
  <xs:complexType name="ArrayOfInstrument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Instrument" nillable="true" type="tns:Instrument" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInstrument" nillable="true" type="tns:ArrayOfInstrument" />
  <xs:complexType name="Instrument">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ChordsType">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Interval" type="xs:long" />
          <xs:element minOccurs="0" name="LastMeasurement" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Instrument" nillable="true" type="tns:Instrument" />
  <xs:complexType name="Measurement">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ChordsType">
        <xs:sequence>
          <xs:element minOccurs="0" name="InstrumentID" type="xs:unsignedInt" />
          <xs:element minOccurs="0" name="TimeStamp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Value" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Measurement" nillable="true" type="tns:Measurement" />
</xs:schema>